@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); /* roboto titulos*/
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');/*questrial textos*/

* {
    padding: 0;
    margin: 0;
}

:root {
    --azul-escuro: #0A395E;
    --bordo: #912B64;
    --amarelo: #FAF4D3;
    --verde: #70A288;
    --background-color-branco: #F5F5F5;
    --preto: #0C1618;
    --azul-claro-botao: #93B4DB;
    --fontes-de-texto: 'Questrial', sans-serif;
    --fontes-de-titulo: 'Roboto', sans-serif;
}

body {
    background-color: var(--background-color-branco);
}

/*------------ STYLE DO LOGIN DESKTOP ---------------- */
#headermaior {
    display: none;
}

.div-cabecalho {
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#btn-mobile {
    background-color: transparent;
    border-color: transparent;
}

#menu {
    display: block;
    position: absolute;
    width: 100%;
    right: 0px;
    background: var(--azul-escuro);
    transition: 0.5s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
}

#nav-menu-hamburguer.active #menu {
    display: flex;
    flex-direction: column;
    height: calc(30vh - 60px);
    visibility: visible;
    overflow-y: auto;
}

#menu a {
    display: flex;
    text-align: right;
    font-family: var(--fontes-de-texto);
    font-size: 15px;
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
}

a {
    color: #fff;
    text-decoration: none;
}

#modo-desktop {
    width: 100vw;
}

#modo-desktop li {
    list-style: none;
}

#modo-desktop ul {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    gap: 4%;
}

/*fim de parte PADRÃO*/


/*------------ FIM de padrão PARA IGNORAR --------------------*/

/*código do login geral*/
.titulo_principal_login {
    font-family: var(--fontes-de-titulo);
    color: var(--azul-escuro);
    font-size: 3em;
}

.subtitulo_login {
    font-family: var(--fontes-de-titulo);
}

main {
    display: flex;
    justify-content: space-around;
}

#headermenor {
    width: 90%;
    margin: 5%;
    height: 6vh;
}

#div_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#caixa_bemvindo_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6%;
}

#botao_envio_login {
    padding: 1%;
    width: 150px;
    background-color: #912B64;
    cursor: pointer;
    color: var(--background-color-branco);
    font-family: var(--fontes-de-titulo);
    font-size: 16px;
    font-weight: bold;
    border: none;
}

#email_login,
#senha_login {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--preto);
    width: 70%;
    background: none;
}

#align{
    display: flex;
    width: 70%;
}


#imagem_senha {
    width: 20px; /* Ajuste o tamanho conforme necessário */
    height: 20px; /* Ajuste o tamanho conforme necessário */
    background-image: url("img/olho-fechado.png"); /* Defina a imagem de olho fechado */
    background-size: cover;
    cursor: pointer; /* Altera o cursor para indicar que é clicável */
}

#form_senha_login {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 6vh;
    width: 100%;
}

#form_senha_login input::placeholder,
#form_senha_login input {
    font-size: 1.8vh;
    padding: 2px;
    font-style: italic;
    font-family: var(--fontes-de-titulo);
}

#img_senha_login {
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.linhas{
    width: 80px;
    height: 0.1vh;
    background-color: var(--verde);
}

#caixaRecuperarSenha{
    margin-top: 15%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
   
}

#caixaRecuperarSenha a{
    color: #0C1618;
    font-family: var(--fontes-de-texto);
}

#alinharEnvio{
    display: flex;
    justify-content: left;
}
@media(max-width: 500px) {
    #caixa_bemvindo_login {
        margin-top: 40%;
    }

    #caixa_geral {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    #form_senha_login {
        margin-top: 15%;
    }

    #botao_envio_login {
        padding: 2%; 
    }
}



@media(min-width: 100px) and (max-width: 767px) {
    #caixa_geral {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    #senha_login, #email_login {
        width: 100%;
    }
    #div_1{
        width: 90%;
    }
    #align{
        width: 100%;
    }
    #form_senha_login {
        margin-top: 15%;
    }

    #botao_envio_login {
        padding: 1.8%; 
    }
}

@media(min-width: 768px) {
    #headermaior {
        width: 100vw;
        height: 10vh;
        background-color: #0a395e;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Lato", sans-serif;

    }

    #senha_login{
        margin-left: 0%;
        width: 100%;
    }
    #headermenor {
        display: none;
    }

    #div_1 {
        min-width: 40%;
        max-width: 80%;
        min-height: 90vh;
        background-color: #fff;
        align-items: center;
    }

    #caixa_geral {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    #form_senha_login {
        margin-top: 5%;
        display: flex;
    }
}

@media screen and (max-width: 950px){
    .linhas{
        width: 60px;
    }
}

/* ----------------------- STYLE INDEX DESKTOP------------------------------*/
#carouselExampleAutoplaying {
    margin: 0 auto;
    width: 500px;
    height: 300px;
    background-color: var(--background-color-branco);
}

#gologin {
    border: none;
    margin: 0%;
    padding: 0;
    margin-left: 80%;
    margin-top: 20%;
    background-color: var(--background-color-branco);
}


.info-introducao {
    text-align: center;
    font-size: 17px;
}

#titulo-ola {
    margin-top: 15%;
    color: var(--azul-escuro);
}

.introducao1 {
    margin-top: 8%;
}

.introducao2 {
    margin-top: 30%;
}

.introducao3 {
    margin-top: 20%;
}

.carousel-indicators {
    background-color: #595b5c59;
    width: 100px;
    height: 20px;
    padding: 1px;
    border-radius: 100px;
    margin: 0 auto;
    margin-top: 100%;
    position: relative;
}

/* Mobile*/
@media (max-width: 480px) {
    .titulo_principal_login {
        font-size: 2.5em;
    }
    .subtitulo_login {
        font-size: 1em;
        margin-bottom: 10%;
    }
    #email_login,
    #senha_login {
        width: 100%;
    }
    #senha_login{
        margin-left: 2%;
    }
    #img_senha_login {
        width: 30px;
        height: 30px;
    }
    /*------------ STYLE MOBILE INDEX ----------------*/
    .header-professor-adm{
        display: none;
      }
    #carouselExampleAutoplaying{
        margin: 0 auto;
        margin-top: 15%;
        width: 250px;
        height: 450px;
        background-color: var(--background-color-branco);
      }
      .info-introducao{
       text-align: center;
       font-size: 17px;
      }
      #titulo-ola{
        margin-top: 15%;
        color: var(--azul-escuro);
      }
      .introducao1{
        margin-top: 8%;
      }
      .introducao2{
        margin-top: 30%;
      }
      .introducao3{
        margin-top: 20%;
      }
     .carousel-indicators{
        background-color: #595b5c59;
        width: 100px;
        height: 20px;
        padding: 1px;
        border-radius: 100px;
        margin:0 auto;
        margin-top: 100%;
        position: relative;
     }
    
     /*---------- estilo do botão que leva para a página de login------------*/
      #gologin{
        border: none;
        margin: 0%;
        padding: 0;
        margin-left: 70%;
        margin-top: 30%;
        margin-bottom: 10%;
        background-color: var(--background-color-branco);
      }
      #setabemvindo{
        width: 80%;
      }
}
