@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); /* roboto titulos*/
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');/*questrial textos*/

:root {
    --azul-escuro: #0A395E;
    --bordo: #912B64;
    --amarelo: #FAF4D3;
    --verde: #70A288;
    --background-color-branco: #F5F5F5;
    --preto: #0C1618;
    --azul-claro-botao: #93B4DB;
    --fontes-de-texto: 'Questrial', sans-serif;
    --fontes-de-titulo:'Roboto', sans-serif ;
  }

  *{
    margin: 0;
    padding: 0;
  }
  
  @media (max-width: 480px){

    /*------------------ footer ------------*/
    /*-------- ESTILO PADRÃO DAS PÁGINAS, HEADER E FOOTER --------------*/
  .header-professor-adm{
    background-color: var(--azul-escuro);
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
  }
  #icone-perfil{
    margin-left: 55%;
  }
  #icone-engrenagem{
    margin-left: 8%;
  }
  a {
    color: rgb(240, 240, 240);
    text-decoration: none;
  }

  #menu {
    display: block;
    position: absolute;
    width: 100%;
    right: 0px;
    background: var(--azul-escuro);
    transition: 0.5s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav-menu-hamburguer.active #menu {
    display: flex;
    flex-direction: column;
    height: calc(30vh - 60px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    text-align: center;
    font-family: var(--fontes-de-texto);
    font-size: 15px;
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    color: #d6d8db;
  }

  /*FOOTER*/

.footer-professor-adm{
  background-color: #0A395E;
  font-size: 12px;
  text-align: left;
  color: var(--background-color-branco);
  padding-top: 8%;
  }
  
  .direitosAutorais{
  font-size: 10px;
  text-align: center;
  padding: 2%;
  }
  /*------------------ FIM DO FOOTER---------------*/
  
/*------------- ESTILO DA HOME DO PROFESSOR -------------------*/
    #bemvindo-professor{
      font-family: var(--fontes-de-titulo);
      margin-top: 80px;
      margin-left: 20px;
    }

    .caixa-de-funcionalidades{
      margin: 0 auto;
      margin-top: 50px;
      margin-bottom: 150px;
      width: 40vh;
    }

    #titulo-funcionalidade{
      font-family: var(--fontes-de-titulo);
      text-align: center;
      font-weight:bolder;
      color: #0A395E;
    }

    .botao-funcionalidade{
      font-family: var(--fontes-de-texto);
      height: 15vh;
      width: 15vh;
      border-radius: 10px;
      border-color: #0C1618;
      font-size: 12px;
      padding: 2%;
    }

    .icone-funcionalidades{
      height: 60px;
      width: 60px;
      padding: 5%;
    }
    #separacao-roxa{
      border-top: 2px solid #88024e;
    }
    /*-------------------- FIM DA HOME DO PROFESSOR --------------*/
      
      
    /* PÁGINA NOTAS PROFESSOR */
    .texto-notas-professor{
      font-family: var(--fontes-de-titulo);
      font-size: 25px;
      font-weight: 900;
      text-align: center;
      margin-top: 7%;
      
    }

    .unidade-notas-professor{
      font-family: var(--fontes-de-titulo);
      font-size: 22px;
      font-weight: 900;
      text-align: center;
      margin-top: 7%;
      
    }

    .linha-nota-professor{
      width: 70px;
      margin-top: -4%;
      margin-left: 15%;
      margin-bottom: 10%;
    }

    .label-notas-professor{
      font-family: var(--fontes-de-texto);
      font-size: 27px;
      margin-left: -18%;
    }

    .label-notas-professor-2{
      font-family: var(--fontes-de-texto);
      font-size: 18px;
    }

    #turma{
      text-decoration: none;
      border: none;
      margin-left: 17%;
      
    }

    #unidade{
      text-decoration: none;
      border: none;
      margin-left: 17%;
    }
    .linha-n-p{
      width: 170px;
      margin-left: 43%;
      border-bottom: 2px solid #912B64;
      color: var(--bordo);
    }

    .tudo-nota-professor{
      display: flex;
      justify-content: center;
   
    }

    .sai{
      margin-left: -11%;
    }

    .alunos-notas-professor{
      border: 2px solid #0A395E;
      color: #F5F5F5;
      border-radius: 5px;
      background-color: var(--azul-escuro);
      width: 100px;
      text-align: center;
      font-family: var(--fontes-de-titulo);
      font-weight: 700;
      font-size: 20px;
      padding: 2%;
    }
    .conteudo-nota-professor{
      display: flex;
      justify-content: center;
    }

    
    /*------------------- ESTILO HOME DO ALUNO ----------------*/




  }
 
 
