@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); /* roboto titulos*/
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');/*questrial textos*/

:root {
    --azul-escuro: #0A395E;
    --bordo: #912B64;
    --amarelo: #FAF4D3;
    --verde: #70A288;
    --background-color-branco: #F5F5F5;
    --preto: #0C1618;
    --azul-claro-botao: #93B4DB;
    --fontes-de-texto: 'Questrial', sans-serif;
    --fontes-de-titulo:'Roboto', sans-serif ;
  }

  *{
    margin: 0;
    padding: 0;
  }
  
  @media (max-width: 480px){

    /*------------------ footer ------------*/
    /*-------- ESTILO PADRÃO DAS PÁGINAS, HEADER E FOOTER --------------*/
  .header-professor-adm{
    background-color: var(--azul-escuro);
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
  }
  #icone-perfil{
    margin-left: 55%;
  }
  #icone-engrenagem{
    margin-left: 8%;
  }
  a {
    color: rgb(240, 240, 240);
    text-decoration: none;
  }

  #menu {
    display: block;
    position: absolute;
    width: 100%;
    right: 0px;
    background: var(--azul-escuro);
    transition: 0.5s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav-menu-hamburguer.active #menu {
    display: flex;
    flex-direction: column;
    height: calc(30vh - 60px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    text-align: center;
    font-family: var(--fontes-de-texto);
    font-size: 15px;
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    color: #d6d8db;
  }

  /*FOOTER*/

.footer-professor-adm{
  background-color: #0A395E;
  font-size: 12px;
  text-align: left;
  color: var(--background-color-branco);
  padding-top: 8%;
  }
  
  .direitosAutorais{
  font-size: 10px;
  text-align: center;
  padding: 2%;
  }
  /*------------------ FIM DO FOOTER---------------*/
  
/*------------- ESTILO DA HOME DO PROFESSOR -------------------*/
    #bemvindo-professor{
      font-family: var(--fontes-de-titulo);
      margin-top: 80px;
      margin-left: 20px;
    }

    .caixa-de-funcionalidades{
      margin: 0 auto;
      margin-top: 50px;
      margin-bottom: 150px;
      width: 40vh;
    }

    #titulo-funcionalidade{
      font-family: var(--fontes-de-titulo);
      text-align: center;
      font-weight:bolder;
      color: #0A395E;
    }

    .botao-funcionalidade{
      font-family: var(--fontes-de-texto);
      height: 15vh;
      width: 15vh;
      border-radius: 10px;
      border-color: #0C1618;
      font-size: 12px;
      padding: 2%;
    }

    .icone-funcionalidades{
      height: 60px;
      width: 60px;
      padding: 5%;
    }
    #separacao-roxa{
      border-top: 2px solid #88024e;
    }
    /*-------------------- FIM DA HOME DO PROFESSOR --------------*/
      
      
    
    /* PÁGINA NOTAS PROFESSOR */





    .header-professor-adm{
      background-color: var(--azul-escuro);
      display: flex;
      flex-direction: row;
      height: 10vh;
      align-items: center;
    }
    #icone-perfil{
      margin-left: 55%;
    }
    #icone-engrenagem{
      margin-left: 8%;
    }
    a {
      color: rgb(240, 240, 240);
      text-decoration: none;
    }

    #menu {
      display: block;
      position: absolute;
      width: 100%;
      right: 0px;
      background: var(--azul-escuro);
      transition: 0.5s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
    }
    #nav-menu-hamburguer.active #menu {
      display: flex;
      flex-direction: column;
      height: calc(30vh - 60px);
      visibility: visible;
      overflow-y: auto;
    }
    #menu a {
      text-align: center;
      font-family: var(--fontes-de-texto);
      font-size: 15px;
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid rgba(255, 255, 255, 0.05);
    }
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
      color: #d6d8db;
    }



    .texto-notas-professor{
      font-family: var(--fontes-de-titulo);
      font-size: 25px;
      font-weight: 900;
      text-align: center;
      margin-top: 7%;
      
    }

    .unidade-notas-professor{
      font-family: var(--fontes-de-titulo);
      font-size: 25px;
      font-weight: 900;

      margin-top: 7%;
      
    }

    .linha-nota-professor{
      width: 70px;
      margin-top: -4%;
      margin-left: 15%;
      margin-bottom: 10%;
    }

    .label-notas-professor{
      font-family: var(--fontes-de-texto);
      font-size: 27px;

      margin-left: -18%;
    }


    .label-notas-professor-2{
      font-family: var(--fontes-de-texto);
      font-size: 20px;

     
    }

    #turma{
      text-decoration: none;
      border: none;
      margin-left: 20%;
      background-color: var(--background-color-branco);
      
    }

    #unidade{
      text-decoration: none;
      border: none;
      margin-left: 17%;
      background-color: var(--background-color-branco);
    }
 



    .linha-n-p{
      width: 170px;
      margin-left: 43%;
      border-bottom: 2px solid #912B64;
      color: var(--bordo);
    }

    .tudo-nota-professor{
      display: flex;
      justify-content: center;
   
    }

    .sai{
      margin-left: -11%;
    }



    
    .alunos-notas-professor{
      border: 2px solid #0A395E;
      color: #F5F5F5;
      border-radius: 7px;
      background-color: var(--azul-escuro);
      width: 150px;
      text-align: center;
      font-family: var(--fontes-de-titulo);
      font-weight: 700;
      font-size: 20px;
      padding: 2%;
    }
    .conteudo-nota-professor{
      display: flex;
      justify-content: center;
    }

    #meuSelect {
      background-color: #ffffffa6; /* Cor de fundo do select */
      color: #333; /* Cor do texto do select */
      border: 1px solid #ccc; /* Borda do select */
      border-radius: 5px; /* Cantos arredondados */
      padding: 5px; /* Espaçamento interno */
      text-decoration: none;
    }
    
    #meuSelect option {
      background-color: #d40000; /* Cor de fundo das opções */
      color: #ff0000; /* Cor do texto das opções */
    }


    #nota-aluno{
      text-decoration: none;
      border: none;
      margin-left: 10%;
     
      font-family: var(--fontes-de-texto);
      margin-top: 10%;
      font-size: 17px;
      background-color: var(--amarelo);

      
    }

    .criterio-nota-professor{

      font-family: var(--fontes-de-titulo);
      font-size: 15px;
      margin-left: 11%;
      margin-top: 3%;

    }
    
    .nota-nota-professor{
      font-family: var(--fontes-de-texto);
      font-weight: 800;
      font-size: 23px;
      margin-left: 10%;
    }


    .nomes-alunos{
      font-family: var(--fontes-de-texto);
      font-size: 18px;
      text-align: justify;
      margin-left: 10%;
      padding: 4%;
    }

    .linhas-nota-professor1{
      margin-top: 5%;
      width: 85%;
      margin-left: 7%;
    
    }
    .linhas-nota-professor{
     color: var(--preto);
      width: 85%;
      margin-left: 7%;
    
    }

    .notas-professor{
     height: 340px;
      border-radius: 16px;
      margin-left: 2%;
      margin-right: 2%;
      margin-top: -10%;
padding-top: 7%;
      background-color: var(--amarelo);
    }


    .body-nota-professor{
      background-color: var(--background-color-branco);
    }
    
    
/* PÁGINA GERENCIAMENTO DE ALUNOS */

    .texto-GerenciamentoDeAlunos{
      font-family: var(--fontes-de-titulo);
      font-size: 23px;
      font-weight: 900;
      text-align: center;
      margin-top: 7%;
      
    }
    .linhaVerde-GerenciantoDeAlunos{
      width: 45px;
      margin-left: 16%;
      border: 1px solid var(--verde);
      margin-bottom: 7%;
    }

    .label-GerenciamentoDeAlunos{
      font-family: var(--fontes-de-texto);
      font-size: 20px;
      margin-left: 15%;
      
      
     
    }

    #turma2{
      text-decoration: none;
      border: none;
      margin-left: 25%;
      background-color: var(--background-color-branco);
      
    }

    .boletim-GerenciamentoDeAlunos{
      color: var(--verde);
      text-decoration: underline;
      font-family: var(--fontes-de-texto);
      font-weight: 700;
      margin-left: 10%;
      
    }

    .info-GerenciamentoDeAlunos{
      color: var(--verde);
      text-decoration: underline;
      font-family: var(--fontes-de-texto);
      font-weight: 700;
      margin-left: 10%;
    }


      /* PÁGINA PLANEJAMENTO E REGISTRO DE ALUNOS */


    .titulo-planejamentoRegistroDeAlunos{
      font-family: var(--fontes-de-titulo);
      font-weight: 1000;
      font-size: 24px;
      text-align: center;
      margin-top: 8%;
    }


    .botao-PRA {
      margin-top: 13%;
      margin-left: 27%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 15px;
      gap: 15px;
      background: rgb(145,43,100);
      outline: 3px --bordo;
      outline-offset: -3px;
      border-radius: 30px;
      border: none;
      cursor: pointer;
      transition: 400ms;
      width: 175px;
      padding: 5%;
    }
    
    .botao-PRA .text-PRA {
      color: var(--background-color-branco);
      font-size: 17px;
      transition: 400ms;
      font-family: var(--fontes-de-texto);
     
      
    }

    .img-PRA{
        width: 260px;
       margin-left: 15%;
    }
  }
 
 
    
  }
 
 



  }
 
 
